<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#We-explore-the-data-we-have" data-toc-modified-id="We-explore-the-data-we-have-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>We explore the data we have</a></span></li><li><span><a href="#Mission-1" data-toc-modified-id="Mission-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Mission 1</a></span><ul class="toc-item"><li><span><a href="#Data-to-SQL!" data-toc-modified-id="Data-to-SQL!-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Data to SQL!</a></span><ul class="toc-item"><li><span><a href="#We-connect-with-SQL" data-toc-modified-id="We-connect-with-SQL-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>We connect with SQL</a></span></li><li><span><a href="#We-create-the-schema-from-MySQL-Workbench-and-forward-engineer" data-toc-modified-id="We-create-the-schema-from-MySQL-Workbench-and-forward-engineer-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>We create the schema from MySQL Workbench and forward engineer</a></span></li><li><span><a href="#We-create-the-schema-from-MySQL-Workbench-and-forward-engineer" data-toc-modified-id="We-create-the-schema-from-MySQL-Workbench-and-forward-engineer-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>We create the schema from MySQL Workbench and forward engineer</a></span></li><li><span><a href="#We-import-the-CSV-and-explore-it" data-toc-modified-id="We-import-the-CSV-and-explore-it-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>We import the CSV and explore it</a></span></li></ul></li><li><span><a href="#Defensive-programming,-checking-functions" data-toc-modified-id="Defensive-programming,-checking-functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Defensive programming, checking functions</a></span></li></ul></li><li><span><a href="#Before-continuing,-we-have-to...-TREAT-THE-DATA!!" data-toc-modified-id="Before-continuing,-we-have-to...-TREAT-THE-DATA!!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Before continuing, we have to... TREAT THE DATA!!</a></span><ul class="toc-item"><li><span><a href="#We-change-the-quotes-to-avoid-problems-with-MySQL-because-everything-goes-with-strings" data-toc-modified-id="We-change-the-quotes-to-avoid-problems-with-MySQL-because-everything-goes-with-strings-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>We change the quotes to avoid problems with MySQL because everything goes with strings</a></span></li><li><span><a href="#Let's-clean-it-up-with-Regex" data-toc-modified-id="Let's-clean-it-up-with-Regex-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Let's clean it up with Regex</a></span></li></ul></li><li><span><a href="#Mission-2" data-toc-modified-id="Mission-2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Mission 2</a></span></li><li><span><a href="#Data-to-MongoDB!" data-toc-modified-id="Data-to-MongoDB!-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Data to MongoDB!</a></span></li></ul></div>

## We explore the data we have

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("output/octubre21.csv")
data.sample()

,nombre,ironhacker,artista,id_lista,nombre_lista,letra
81,Fucked Up,soyungalgo,['The Low Flying Panic Attack'],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,"[Intro]\nFucked up, yeah\nGirl, you got me fuc..."

## Mission 1
 # <center> Put the data into a SQL database 🙂</center>
 ### Data to SQL!

![diagram](images/diagrama.png)

#### We connect with SQL

In [4]:
import sqlalchemy as alch
from getpass import getpass

In [5]:
password = getpass("Introduce tu pass de sql: ")
dbName="spotify"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

Introduce tu pass de sql: ········
me conecté

#### We create the schema from MySQL Workbench and forward engineer
We remember that we could also create it with code, this is the code that the program generates, let's try to understand it, ok?
```mysql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------
DROP DATABASE IF EXISTS `spotify`;
CREATE SCHEMA IF NOT EXISTS `spotify` DEFAULT CHARACTER SET utf8 ;
USE `spotify` ;

-- -----------------------------------------------------
-- Table `spotify`.`artistas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`artistas` (
  `idartista` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idartista`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`ironhackers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`ironhackers` (
  `idironhacker` INT NOT NULL AUTO_INCREMENT,
  `username` VARCHAR(45) NULL,
  PRIMARY KEY (`idironhacker`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`canciones`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`canciones` (
  `idcancion` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NULL,
  `letra` TEXT NULL,
  `artistas_idartista` INT NOT NULL,
  `ironhackers_idironhacker` INT NOT NULL,
  PRIMARY KEY (`idcancion`),
  INDEX `fk_canciones_artistas_idx` (`artistas_idartista` ASC) VISIBLE,
  INDEX `fk_canciones_ironhackers1_idx` (`ironhackers_idironhacker` ASC) VISIBLE,
  CONSTRAINT `fk_canciones_artistas`
    FOREIGN KEY (`artistas_idartista`)
    REFERENCES `spotify`.`artistas` (`idartista`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_canciones_ironhackers1`
    FOREIGN KEY (`ironhackers_idironhacker`)
    REFERENCES `spotify`.`ironhackers` (`idironhacker`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

```

#### We create the schema from MySQL Workbench and forward engineer
We remember that we could also create it with code, this is the code that the program generates, let's try to understand it, ok?
```mysql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET@OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES ,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE<_>SUBSTITUTION';

-- ------------------------------------------------ -----
--spotify schema
-- ------------------------------------------------ -----

-- ------------------------------------------------ -----
--spotify schema
-- ------------------------------------------------ -----
DROP DATABASE IF EXISTS `spotify`;
CREATE SCHEMA IF NOT EXISTS `spotify` DEFAULT CHARACTER SET utf8 ;
USE `spotify` ;

-- ------------------------------------------------ -----
-- Table `spotify`.`artists`
-- ------------------------------------------------ -----
CREATE TABLE IF NOT EXISTS `spotify`.`artists` (
  `idartista` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idartist`))
ENGINE=InnoDB;


-- ------------------------------------------------ -----
-- Table `spotify`.`ironhackers`
-- ------------------------------------------------ -----
CREATE TABLE IF NOT EXISTS `spotify`.`ironhackers` (
  `idironhacker` INT NOT NULL AUTO_INCREMENT,
  `username` VARCHAR(45) NULL,
  PRIMARY KEY (`idionhacker`))
ENGINE=InnoDB;


-- ------------------------------------------------ -----
-- Table `spotify`.`songs`
-- ------------------------------------------------ -----
CREATE TABLE IF NOT EXISTS `spotify`.`songs` (
  `songid` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) NULL,
  `letter` TEXT NULL,
  `artists_idartist` INT NOT NULL,
  `ironhackers_idironhacker` INT NOT NULL,
  PRIMARY KEY (`idsong`),
  INDEX `fk_songs_artists_idx` (`artists_idartist` ASC) VISIBLE,
  INDEX `fk_songs_ironhackers1_idx` (`ironhackers_idironhacker` ASC) VISIBLE,
  CONSTRAINT `fk_songs_artists`
    FOREIGN KEY (`artists_idartist`)
    REFERENCES `spotify`.`artists` (`idartist`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_songs_ironhackers1`
    FOREIGN KEY (`ironhackers_idironhacker`)
    REFERENCES `spotify`.`ironhackers` (`idironhacker`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE=InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD<_>UNIQUE_CHECKS;

```

#### We import the CSV and explore it

In [6]:
data.sample()

,nombre,ironhacker,artista,id_lista,nombre_lista,letra
77,Todo Lo Que Importa,soyungalgo,"['ELYELLA', 'Viva Suecia']",5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,"[Letra de ""Seguiré al Sol""]\n\n[Verso 1: Fyahb..."

### Defensive programming, checking functions

In [18]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "ironhacker":
        query = list(engine.execute(f"SELECT username FROM ironhackers WHERE username = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "artista":
        query = list(engine.execute(f"SELECT nombre FROM artistas WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "cancion":
        query = list(engine.execute(f"SELECT nombre FROM canciones WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [17]:
list(engine.execute(f"SELECT nombre FROM artistas WHERE nombre = '[`Rufus T. Firefly`]'"))

[('[`Rufus T. Firefly`]',)]

In [10]:
check("ironhacker","soyungalgo")

True

In [19]:
def insertIronhacker(string):
    """
    Llama a la función check para comprobar si existe el ironhacker
    Inserta ironhacker si no existe
    """
    if check("ironhacker", string):
        return "el ironhacker existe"
    else:
        engine.execute(f"INSERT INTO ironhackers (username) VALUES ('{string}');")

In [ ]:
insertIronhacker("soyungalgo")

In [20]:
def insertArtista(nombre):
    """
    Llama a la función check para comprobar si existe el artista
    Inserta artista si no existe
    """
    if check("artista", nombre):
        return "el artista existe"
    else:
        engine.execute(f"INSERT INTO artistas (nombre) VALUES ('{nombre}');")

In [23]:
insertArtista("ras")

'el artista existe'

In [22]:
list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='ras';"))[0][0]

82

In [24]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "artista":
        return list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='{string}';"))[0][0]
    elif que == "ironhacker":
        return list(engine.execute(f"SELECT idironhacker FROM ironhackers WHERE username ='{string}';"))[0][0]

In [25]:
dameId("ironhacker", "edurriva")

3

In [26]:
dameId("artista", "ras")

82

In [27]:
def insertCancion(fila):
    """
    La función final 
    """
    if check("cancion", fila["nombre"]):
        return "la canción ya existe"
    else:
        if check("artista", fila["artista"]):
            artista_id = dameId("artista", fila["artista"])
        else:
            insertArtista(fila["artista"])
            artista_id = dameId("artista", fila["artista"])
        
        if check("ironhacker", fila["ironhacker"]):
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
        else:
            insertIronhacker(fila["ironhacker"])
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
            
        engine.execute(f"""
        INSERT INTO canciones (nombre, letra, artistas_idartista, ironhackers_idironhacker) VALUES
        ("{fila['nombre']}", "{fila['letra']}", "{artista_id}", "{ironhacker_id}");
        """)

## Before continuing, we have to... TREAT THE DATA!!

### We change the quotes to avoid problems with MySQL because everything goes with strings

In [28]:
data.sample()

,nombre,ironhacker,artista,id_lista,nombre_lista,letra
41,"Strange Kind Of Woman - Live In Osaka, Japan /...",valledelkas018,"['Deep Purple', 'Martin Pullan']",5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,[Verse 1]\nThere once was a woman\nA strange k...

In [29]:
def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [30]:
data["nombre"] = data.nombre.apply(sustituye)
data["artista"] = data.artista.apply(sustituye)
data["letra"] = data.letra.apply(sustituye)

In [31]:
data.head()

,nombre,ironhacker,artista,id_lista,nombre_lista,letra
0,Perra,Delás,[`Rigoberta Bandini`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,[Letra de `Perra`]\n\n[Intro: J Balvin]\nLoco ...
1,Colectivo Nostalgia,Delás,[`La Maravillosa Orquesta del Alcohol`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,[Letra de “Colectivo Nostalgia” por La Maravil...
2,Cumpleaños Feliz,Delás,[`Parchis`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,Lyrics for this song have yet to be released. ...
3,Que se joda el viento,valledelkas018,[`Marea`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,"Ponte el moño apretao, sirena, que se joda el ..."
4,Gravity,edurriva,[`John Mayer`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,[Verse 1]\nSomething always brings me back to ...

### Let's clean it up with Regex
We see that a pattern is fulfilled, and that is that they are phrases or words between brackets

In [35]:
print(data.loc[4]["letra"])

[Verse 1]
Something always brings me back to you
It never takes too long
No matter what I say or do
I`ll still feel you here until the moment I`m gone
You hold me without touch
You keep me without chains
I never wanted anything so much
Than to drown in your love and not feel your rain

[Chorus]
Set me free
Leave me be
I don`t wanna fall another moment into your gravity
Here I am and I stand so tall, just the way I`m supposed to be
But you`re on to me and all over me

[Verse 2]
Oh, you loved me `cause I`m fragile
When I thought that I was strong
But you touch me for a little while
And all my fragile strength is gone

[Chorus]
Set me free
Leave me be
I don`t wanna fall another moment into your gravity
Here I am and I stand so tall, just the way I`m supposed to be
But you`re on to me and all over me
[Verse 3]
I live here on my knees
As I try to make you see
That you`re everything I think I need here on the ground
But you`re neither friend nor foe
Though I can`t seem to let you go
The one thing that I still know is that you`re keeping me down

[Bridge]
You`re keeping me down, yeah, yeah, yeah, yeah
You`re on to me, on to me, and all over

[Outro]
Something always brings me back to you
It never takes too long

In [ ]:
# Create a pattern to remove the sentences
example = "[we make] an example"

In [37]:
import re

In [38]:
pat = "\[.+\]"
sin_corchetes = re.sub(pat,"",ejemplo)
sin_corchetes

' un ejemplo'

In [39]:
def quitar_corchetes(string):
    pat = "\[.+\]"
    sin_corchetes = re.sub(pat,"",string)
    return sin_corchetes

In [40]:
data["letra"] = data.letra.apply(quitar_corchetes)

In [41]:
data.head()

,nombre,ironhacker,artista,id_lista,nombre_lista,letra
0,Perra,Delás,[`Rigoberta Bandini`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,"\n\n\nLoco calla`o, no ando ladrando\nUna mala..."
1,Colectivo Nostalgia,Delás,[`La Maravillosa Orquesta del Alcohol`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,\n\nSolo\nCreo que lo he perdido todo\nLa vida...
2,Cumpleaños Feliz,Delás,[`Parchis`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,Lyrics for this song have yet to be released. ...
3,Que se joda el viento,valledelkas018,[`Marea`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,"Ponte el moño apretao, sirena, que se joda el ..."
4,Gravity,edurriva,[`John Mayer`],5sB0ax3cmVacFjgkZMLPWx,Ironhack 🚀🚀🚀,\nSomething always brings me back to you\nIt n...

In [45]:
for index, row in data.iterrows():
    insertCancion(row)

## Mission 2
 # <center> Put the data into a MongoDB database 🙃</center>
 ## Data to MongoDB!

We export the dataframe to json and then import it to the mongo database

In [ ]:
data.to_json("output/cancionesyletras_oct", orient="records")

We carry out the following command in the terminal being at the height of the folder

In [ ]:
# mongoimport --db spotify --collection canciones --jsonArray cancionesyletras_oct